In [2]:
import os
import csv
import inspect
import pandas as pd
import numpy as np

In [3]:
print(os.listdir('Resources/'))
file_path = os.path.join('Resources','budget_data.csv')
file_df = pd.read_csv(file_path)
print(file_df.head())

['budget_data.csv', 'output.txt']
     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [4]:
#get count and net
net = 0
count = 0

with open(file_path) as file:
    data = csv.reader(file,delimiter=',')
    next(data)
    for row in data:
        x = int(row[1])
        count += 1
        net += x
        
print(net)
print(count)

38382578
86

In [5]:
#create a shifted column to get difference between months
file_df['shifted'] = file_df['Profit/Losses'].shift(1)
file_df.head(10)

     Date  Profit/Losses    shifted
0  Jan-10         867884        NaN
1  Feb-10         984655   867884.0
2  Mar-10         322013   984655.0
3  Apr-10         -69417   322013.0
4  May-10         310503   -69417.0
5  Jun-10         522857   310503.0
6  Jul-10        1033096   522857.0
7  Aug-10         604885  1033096.0
8  Sep-10        -216386   604885.0
9  Oct-10         477532  -216386.0

In [6]:
file_df['diff'] = file_df['Profit/Losses'] - file_df['shifted']
file_df.head(10)

     Date  Profit/Losses    shifted      diff
0  Jan-10         867884        NaN       NaN
1  Feb-10         984655   867884.0  116771.0
2  Mar-10         322013   984655.0 -662642.0
3  Apr-10         -69417   322013.0 -391430.0
4  May-10         310503   -69417.0  379920.0
5  Jun-10         522857   310503.0  212354.0
6  Jul-10        1033096   522857.0  510239.0
7  Aug-10         604885  1033096.0 -428211.0
8  Sep-10        -216386   604885.0 -821271.0
9  Oct-10         477532  -216386.0  693918.0

In [7]:
file_df = file_df.dropna(how='any', axis=0)

In [18]:
average = file_df['diff'].mean()
maximum = file_df['diff'].max()
max_date = file_df.loc[file_df['diff'] == maximum].values[0,0]
minimum = file_df['diff'].min()
min_lookup = file_df.loc[file_df['diff'] == minimum].values[0,0]

print(average)
print("NEXT")
print(maximum)
print("NEXT")
print(max_date)
print("NEXT")
print(minimum)
print("NEXT")
print(min_date)

-2315.1176470588234
NEXT
1926159.0
NEXT
Feb-12
NEXT
-2196167.0
NEXT
Sep-13

In [26]:
print("Financial Analysis\n")
print("----------------------------\n")
print("Total Months: "+ str(count) + '\n')
print("Total: $"+ str(net) + '\n')
print("Average Change: "+ '${:,.2f}'.format(average) + '\n')
print("Greatest Increase in Profits: "+ str(max_date) + " ($" + str(int(maximum)) + ")"'\n')
print("Greatest Decrease in Profits: "+ str(min_date) + " ($" + str(int(minimum)) + ")"'\n')

Financial Analysis

----------------------------

Total Months: 86

Total: $38382578

Average Change: $-2,315.12

Greatest Increase in Profits: Feb-12 ($1926159)

Greatest Decrease in Profits: Sep-13 ($-2196167)

In [25]:
output_path = os.path.join('Resources','output.txt')
text_file = open(output_path, "w")
text_file.write("Financial Analysis\n")
text_file.write("----------------------------\n")
text_file.write("Total Months: "+ str(count) + '\n')
text_file.write("Total: $"+ str(net) + '\n')
text_file.write("Average Change: "+ '${:,.2f}'.format(average) + '\n')
text_file.write("Greatest Increase in Profits: "+ str(max_date) + " ($" + str(int(maximum)) + ")"'\n')
text_file.write("Greatest Decrease in Profits: "+ str(min_date) + " ($" + str(int(minimum)) + ")"'\n')
text_file.close()