In [34]:
import os
import csv
import inspect
import pandas as pd
import numpy as np

In [35]:
print(os.listdir('Resources/'))
file_path = os.path.join('Resources','election_data.csv')
file_df = pd.read_csv(file_path)
print(file_df.head())

['election_data.csv', 'output.txt']
   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
#interesting transform
#file_df['Candidate_Count'] = file_df.groupby('Candidate', as_index=False)['Candidate'].transform(lambda s: s.count())
#file_df.head()

   Voter ID County Candidate  Candidate_Count
0  12864552  Marsh      Khan          2218231
1  17444633  Marsh    Correy           704200
2  19330107  Marsh      Khan          2218231
3  19865775  Queen      Khan          2218231
4  11927875  Marsh      Khan          2218231

In [36]:
cand_votes = file_df["Candidate"].value_counts()
cand_votes
grouped = pd.DataFrame(cand_votes)
grouped.reset_index(level=0, inplace=True)
print(grouped)
grouped

      index  Candidate
0      Khan    2218231
1    Correy     704200
2        Li     492940
3  O'Tooley     105630

      index  Candidate
0      Khan    2218231
1    Correy     704200
2        Li     492940
3  O'Tooley     105630

In [37]:
maximum = grouped['Candidate'].max()
totVote = grouped['Candidate'].sum()
print(maximum)
print(totVote)

2218231
3521001

In [38]:
grouped['pct'] = grouped['Candidate']/totVote
print(grouped)

      index  Candidate   pct
0      Khan    2218231  0.63
1    Correy     704200  0.20
2        Li     492940  0.14
3  O'Tooley     105630  0.03

In [39]:
names = grouped['index'].values.tolist()
vcount = grouped['Candidate'].values.tolist()
percent = grouped['pct'].values.tolist()
print(names)
print(vcount)
print("{0:.3%}".format(percent[0]))

['Khan', 'Correy', 'Li', "O'Tooley"]
[2218231, 704200, 492940, 105630]
63.000%

In [40]:
print("Election Results\n")
print("----------------------------\n")
print("Total Votes: "+ str(totVote) + '\n')
print("----------------------------\n")
for i in range(len(names)):
    print(names[i] + ": "+ "{0:.3%}".format(percent[i]) + " ("+ str(vcount[i])  + ")"+ '\n')
print("----------------------------\n")
print("Winner: "+ names[0] + '\n')
print("----------------------------\n")

Election Results

----------------------------

Total Votes: 3521001

----------------------------

Khan: 63.000% (2218231)

Correy: 20.000% (704200)

Li: 14.000% (492940)

O'Tooley: 3.000% (105630)

----------------------------

Winner: Khan

----------------------------

In [41]:
output_path = os.path.join('Resources','output.txt')
text_file = open(output_path, "w")
text_file.write("Election Results\n")
text_file.write("----------------------------\n")
text_file.write("Total Votes: "+ str(totVote) + '\n')
text_file.write("----------------------------\n")
for i in range(len(names)):
    text_file.write(names[i] + ": "+ "{0:.3%}".format(percent[i]) + " ("+ str(vcount[i])  + ")"+ '\n')
text_file.write("----------------------------\n")
text_file.write("Winner: "+ names[0] + '\n')
text_file.write("----------------------------\n")
text_file.close()